.h1 {
  color: #004050;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.add {
  background-color: rgb(37, 8, 200);
  color: white;
  border: none;
  height: 37px;
  width: 90px;
  border-radius: 37px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.1s;
  margin-bottom: 1%;
  font-size: large;
}
.add:hover {
  color: rgb(252, 252, 252);
  background-color: rgba(7, 18, 116, 0.646);
}

.DeleteButton {
  background-color: rgb(204, 28, 28);
  color: white;
  border: none;
  height: 37px;
  width: 100px;
  border-radius: 37px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.1s;
  margin-bottom: 1%;
  margin-left: 8%;
  font-size: large;
}

.DeleteButton:hover {
  color: rgb(252, 252, 252);
  background-color: rgba(161, 7, 7, 0.648);
}

.UpdateButton {
  background-color: rgb(205, 155, 30);
  color: white;
  border: none;
  height: 37px;
  width: 100px;
  border-radius: 37px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.1s;
  margin-bottom: 1%;
  margin-left: 8%;
  font-size: large;
}

.UpdateButton:hover {
  color: rgb(252, 252, 252);
  background-color: rgba(157, 117, 15, 0.66);
}

.search {
  font-style: italic;
  font-weight: bolder;
}

.search_btn {
  background-color: rgb(19, 177, 29);
  color: white;
  border: none;
  height: 34px;
  width: 90px;
  border-radius: 37px;
  cursor: pointer;
  margin-left: 8px;
  transition: opacity 0.1s;
  margin-bottom: 1%;
  font-size: large;
}

.search_btn:hover {
  color: rgb(252, 252, 252);
  background-color: rgba(25, 146, 37, 0.836);
  opacity: 0.2s;
  cursor: pointer;
}

body {
  background-color: rgba(242, 250, 215, 0.6);
}
